<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring Boot Application" type="Application" factoryName="Application">
    <option name="ALTERNATIVE_JRE_PATH" value="openjdk-19" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <option name="MAIN_CLASS_NAME" value="netgloo.Application" />
    <module name="spring-boot-basewebapp" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>