<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>hibernate search | netgloo blog</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  
  <ol>
    <li th:each="user : ${searchResults}">
      <b><span th:text="${user.name}"></span></b> - 
      <span th:text="${user.city}"></span> -
      <span th:text="${user.email}"></span>
    </li>
  </ol>
  
  <p th:if="${searchResults.isEmpty()}">
    <strong>Hint</strong>: the query "<a href='/search?q=amy'>amy</a>" 
    should return some results.
  </p>

</body>

</html>
